<div class="col-xs-12">
  <div data-controller="line-chart" data-line-chart-chart-value="<%= chart_data.to_json %>" >
    <div data-line-chart-target="chart" class="chart-placeholder"></div>
  </div>
</div>
