<div id="quote-form">
  <%= form_tag quote_path, method: :get do %>
    <div class="form-group">
      <%= text_field_tag :symbols, nil, placeholder: "Search stock or name", class: "form-control" %>
    </div>
    <%= submit_tag "Get quote", class: "btn btn-default" %>
  <% end %>
</div>
